* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media(max-width: 1160px) {
    .container {
        width: 1040px;
    }
}

@media(max-width: 1060px) {
    .container {
        width: 940px;
    }

    .navbar img {
        width: 100px !important;
    }

    .nav_link {
        font-size: 18px !important;
    }
}

@media(max-width: 960px) {
    .container {
        width: 840px;
    }

    .main_list img {
        width: 100px;
    }

    .nav_link {
        font-size: 16px;
        margin: 0 15px !important;
    }

    .nav_item:last-child{
        margin-left: 20px !important;
    }

    .nav_item:last-child i {
        padding: 10px;
        font-size: 12px;
    }

    .nav_item:last-child a{
        padding: 10px 20px !important;
        font-size: 14px !important;
    }
}

@media(max-width: 860px) {
    .container {
        width: 740px;
    }

    .main_text h2 {
        font-size: 40px !important;
    }
}

@media(max-width: 760px) {
    .container {
        width: 640px;
    }

    .nav_item {
        display: none;
    }

    .nav_item:last-child {
        display: block;
    }
}

@media(max-width: 660px) {
    .container {
        width: 540px;
    }

    .main_total {
        display: flex;
        flex-direction: column;
    }

    .main_text, .main_photo {
        width: 95% !important;
    }

    .main_text h2 {
        text-align: center;
    }

    .main_text p {
        text-align: center;
        margin: 20px auto !important;
    }

    .main_text a {
        width: 100%;
        text-align: center;
    }

    .main_photo img {
        margin-top: 40px;
    }

    .main_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .main_link {
        width: 30% !important;
    }
}

@media(max-width: 560px) {
    .container {
        width: 440px;
        
    }

    .main_text h2 {
        font-size: 30px !important;
    }
}

@media(max-width: 460px) {
    .container {
        width: 340px;
    }

    .main_text h2 {
        font-size: 20px !important;
    }

    .main_list img {
        width: 70px !important;
    }
}

@media(max-width: 360px) {
    .container {
        width: 100%;
    }

    .nav_item {
        display: none !important;
    }

    .navbar img {
        margin: auto;
    }
}


.navbar .container {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.navbar img {
    width: 150px;
}

.nav_list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav_item .nav_link {
    margin: 0 25px;
    color: #111;
    font-size: 20px;
    transition: .6s;
}

.nav_link:hover {
    color: green;
}

.nav_item:last-child {
    margin-left: 80px;
}

.nav_item i {
    font-size: 16px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.nav_item:last-child a {
    background-color: #111;
    padding: 15px 20px;
    margin-left: 10px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;

}

main {
    background-color: #F3F7F4;
}

.main_total {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_total .main_text, .main_photo {
    width: 45%;
}

.main_text h2 {
    font-size: 50px;
    font-weight: normal;
}

.main_text p {
    color: #40494D;
    font-size: 18px;
    width: 300px;
    margin: 30px 0;
}

.main_text a {
    background-color: black;
    padding: 15px 40px;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
}

.main_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
}