* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    width: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media(max-width: 1160px) {
    .container {
        width: 1040px;
    }
}

@media(max-width: 1060px) {
    .container {
        width: 940px;
    }
}

@media(max-width: 960px) {
    .container {
        width: 840px;
    }
}

@media(max-width: 860px) {
    .container {
        width: 740px;
    }
}

@media(max-width: 760px) {
    .container {
        width: 640px;
    }
}

@media(max-width: 660px) {
    .container {
        width: 540px;
    }
}

@media(max-width: 560px) {
    .container {
        width: 440px;
        
    }
}

@media(max-width: 460px) {
    .container {
        width: 340px;
    }
}

@media(max-width: 360px) {
    .container {
        width: 100%;
    }
}


